* {
    margin: 0;
    padding: 0;
}

.game-window {
    text-align: center;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.1fr 0.85fr;
    .header {
        border: 2px solid black;
    }

    .info-box {
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rhs {
            &__guide{
                button {
                    width: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }

    .game-box {
        border: 2px solid black;
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        .game-box__buttons {
            border: 1px solid black;
            margin: 1px;
            cursor: pointer;
            
        }
    }

    .notif-container {
        position: absolute;
        top: 9%;
        left: 50%;
        width: 90%;
        height: 5%;
        transform: translate(-50%, -50%) scale(1.5);
        color: red;
        background-color: white;
        border: 2px solid black;
        padding: 20px;
    }

    .guide-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        border: 2px solid black;
        background-color: gray;
        padding: 20px;
    }

}

